<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/xtt7nkb.css" />
  </head>
  <body>
    <div class="logo"></div>
    <main>
      <section>
        <section class="container">
          <h2>Most Popular</h2>
          <section class="flex-container">
            <div class="image-container">
              <img src="/images/Flat_white.jpg" />
            </div>
            <div class="item-info-container">
              <div class="price-container">
                <div class="price" style="font-weight: 800">$4.00</div>
              </div>
            </div>
            <div class="seperator-column">
              <div class="seperator-container">
                <div class="seperator">|</div>
              </div>
            </div>
            <div class="final-section">
              <div class="item-name-container">
                <div class="item-name">Flat White</div>
              </div>
              <div class="quantity-counter">
                <button class="decrement">-</button>
                <div class="quantity">1</div>
                <button class="increment">+</button>
              </div>
              <div class="button-container">
                <button class="add-to-cart-button">Add</button>
              </div>
            </div>
          </section>
          <section class="extra-info-coffee">
            <h2 class="extra-info-heading"></h2>
            <div>
              <h3>Milk Type</h3>
              <div class="form-flex-coffee">
                <div>
                  <input
                    checked
                    type="radio"
                    class="fw-checkbox"
                    name="fw-milk"
                  />
                  <label>Full Milk </label>
                </div>
                <div>
                  <input type="radio" class="fw-checkbox" name="fw-milk" />
                  <label>Skim</label>
                </div>
                <div>
                  <input type="radio" class="fw-checkbox" name="fw-milk" />
                  <label>Soy</label>
                </div>
                <div>
                  <input type="radio" class="fw-checkbox" name="fw-milk" />
                  <label>Almond</label>
                </div>
                <div>
                  <input type="radio" class="fw-checkbox" name="fw-milk" />
                  <label>Oat</label>
                </div>
              </div>
              <br />
              <h3>Additional Comments</h3>
              <textarea rows="6"></textarea>
              <div class="flex-confirm">
                <button class="cancel">Cancel</button>
                <button class="confirm">Confirm</button>
              </div>
            </div>
          </section>
          <section class="flex-container">
            <div class="image-container">
              <img
                src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/2/14/0/FNK_Maple-Bacon-Grilled-Cheese_s4x3.jpg.rend.hgtvcom.616.462.suffix/1382542424660.jpeg"
              />
            </div>
            <div class="item-info-container">
              <div class="price-container">
                <div class="price" style="font-weight: 800">$5.00</div>
              </div>
            </div>
            <div class="seperator-column">
              <div class="seperator-container">
                <div class="seperator">|</div>
              </div>
            </div>
            <div class="final-section">
              <div class="item-name-container">
                <div class="item-name">Bacon & Egg Sandwich</div>
              </div>
              <div class="quantity-counter">
                <button class="decrement">-</button>
                <div class="quantity">1</div>
                <button class="increment">+</button>
              </div>
              <div class="button-container">
                <button class="add-to-cart-button">Add</button>
              </div>
            </div>
          </section>
          <section class="extra-info-bb">
            <h2 class="extra-info-heading"></h2>
            <div class="form-flex-bb">
              <h3>Add Ingredients</h3>
              <div class="add-ing">
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-add" />
                  <label>Beef Pattie ($4.00) </label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-add" />
                  <label>Chicken Pattie ($4.00)</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-add" />
                  <label>Bacon ($2.00)</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-add" />
                  <label>Egg ($2.00)</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-add" />
                  <label>Onion ($1.00)</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-add" />
                  <label>Tomato Sauce (Free)</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-add" />
                  <label>Mustard (Free)</label>
                </div>
              </div>
              <h3>Remove Ingredients</h3>
              <div class="remove-ing">
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-rem" />
                  <label>Veggie Pattie</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-rem" />
                  <label>Tomato</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-rem" />
                  <label>Lettuce</label>
                </div>
                <div>
                  <input type="checkbox" class="be-checkbox" name="be-rem" />
                  <label>Cheese</label>
                </div>
              </div>
              <br />
              <h3>Additional Comments</h3>
              <textarea rows="6"></textarea>
              <div class="flex-confirm">
                <button class="cancel">Cancel</button>
                <button class="confirm">Confirm</button>
              </div>
            </div>
          </section>
        </section>
        <div class="category-nav">
          <button class="food-button">Food</button>
          <button class="drink-button">Drink</button>
        </div>
        <!-- FOOD SECTION -->
        <section class="food">
          <!-- BBQ SECTION -->
          <section class="container">
            <h2>BBQ</h2>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="http://cdn.shopify.com/s/files/1/1827/5109/articles/mr-perfect-sausage-sizzle_1024x1024.jpg?v=1581678763"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$2.50</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Sausage Sizzle</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-bb">
              <h2 class="extra-info-heading"></h2>
              <div class="form-flex-bb">
                <h3>Add Ingredients</h3>
                <div class="add-ing">
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-add" />
                    <label>Beef Pattie ($4.00) </label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-add" />
                    <label>Chicken Pattie ($4.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-add" />
                    <label>Bacon ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-add" />
                    <label>Egg ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-add" />
                    <label>Onion ($1.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-add" />
                    <label>Tomato Sauce (Free)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-add" />
                    <label>Mustard (Free)</label>
                  </div>
                </div>
                <h3>Remove Ingredients</h3>
                <div class="remove-ing">
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-rem" />
                    <label>Chicken Pattie</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-rem" />
                    <label>Tomato</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-rem" />
                    <label>Lettuce</label>
                  </div>
                  <div>
                    <input type="checkbox" class="ss-checkbox" name="ss-rem" />
                    <label>Cheese</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/2/14/0/FNK_Maple-Bacon-Grilled-Cheese_s4x3.jpg.rend.hgtvcom.616.462.suffix/1382542424660.jpeg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$5.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Bacon & Egg Sandwich</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-bb">
              <h2 class="extra-info-heading"></h2>
              <div class="form-flex-bb">
                <h3>Add Ingredients</h3>
                <div class="add-ing">
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-add" />
                    <label>Beef Pattie ($4.00) </label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-add" />
                    <label>Chicken Pattie ($4.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-add" />
                    <label>Bacon ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-add" />
                    <label>Egg ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-add" />
                    <label>Onion ($1.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-add" />
                    <label>Tomato Sauce (Free)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-add" />
                    <label>Mustard (Free)</label>
                  </div>
                </div>
                <h3>Remove Ingredients</h3>
                <div class="remove-ing">
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-rem" />
                    <label>Chicken Pattie</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-rem" />
                    <label>Tomato</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-rem" />
                    <label>Lettuce</label>
                  </div>
                  <div>
                    <input type="checkbox" class="be-checkbox" name="be-rem" />
                    <label>Cheese</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://www.finedininglovers.com/sites/g/files/xknfdk626/files/styles/open_graph_image/public/Original_5593_StockFood-00949621.jpg.jpg?itok=fqNi5pz2"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$8.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Deluxe (bacon, egg, sausage)</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-bb">
              <h2 class="extra-info-heading"></h2>
              <div class="form-flex-bb">
                <h3>Add Ingredients</h3>
                <div class="add-ing">
                  <div>
                    <input
                      class="deluxe-checkbox"
                      type="checkbox"
                      name="deluxe-add"
                    />
                    <label>Beef Pattie ($4.00) </label>
                  </div>
                  <div>
                    <input
                      class="deluxe-checkbox"
                      type="checkbox"
                      name="deluxe-add"
                    />
                    <label>Chicken Pattie ($4.00)</label>
                  </div>
                  <div>
                    <input
                      class="deluxe-checkbox"
                      type="checkbox"
                      name="deluxe-add"
                    />
                    <label>Bacon ($2.00)</label>
                  </div>
                  <div>
                    <input
                      class="deluxe-checkbox"
                      type="checkbox"
                      name="deluxe-add"
                    />
                    <label>Egg ($2.00)</label>
                  </div>
                  <div>
                    <input
                      class="deluxe-checkbox"
                      type="checkbox"
                      name="deluxe-add"
                    />
                    <label>Onion ($1.00)</label>
                  </div>
                  <div>
                    <input
                      class="deluxe-checkbox"
                      type="checkbox"
                      name="deluxe-add"
                    />
                    <label>Tomato Sauce (Free)</label>
                  </div>
                  <div>
                    <input
                      class="deluxe-checkbox"
                      type="checkbox"
                      name="deluxe-add"
                    />
                    <label>Mustard (Free)</label>
                  </div>
                </div>
                <h3>Remove Ingredients</h3>
                <div class="remove-ing">
                  <div>
                    <input
                      type="checkbox"
                      class="deluxe-checkbox"
                      name="deluxe-rem"
                    />
                    <label>Chicken Pattie</label>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      class="deluxe-checkbox"
                      name="deluxe-rem"
                    />
                    <label>Tomato</label>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      class="deluxe-checkbox"
                      name="deluxe-rem"
                    />
                    <label>Lettuce</label>
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      class="deluxe-checkbox"
                      name="deluxe-rem"
                    />
                    <label>Cheese</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
          </section>
          <!-- BBQ SECTION -->

          <!-- BURGER SECTION -->
          <section class="container">
            <h2>Burgers</h2>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://vikalinka.com/wp-content/uploads/2021/07/Greek-Chicken-Burger-1CR2-Edit.jpg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$6.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Chicken Burger</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-bb">
              <h2 class="extra-info-heading"></h2>
              <div class="form-flex-bb">
                <h3>Add Ingredients</h3>
                <div class="add-ing">
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-add" />
                    <label>Beef Pattie ($4.00) </label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-add" />
                    <label>Chicken Pattie ($4.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-add" />
                    <label>Bacon ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-add" />
                    <label>Egg ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-add" />
                    <label>Onion ($1.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-add" />
                    <label>Tomato Sauce (Free)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-add" />
                    <label>Mustard (Free)</label>
                  </div>
                </div>
                <h3>Remove Ingredients</h3>
                <div class="remove-ing">
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-rem" />
                    <label>Chicken Pattie</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-rem" />
                    <label>Tomato</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-rem" />
                    <label>Lettuce</label>
                  </div>
                  <div>
                    <input type="checkbox" class="cb-checkbox" name="cb-rem" />
                    <label>Cheese</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://ribsandburgers.com/au/wp-content/uploads/2019/03/2-angus-bacon-and-cheese.jpg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$6.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Beef Burger</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-bb">
              <h2 class="extra-info-heading"></h2>
              <div class="form-flex-bb">
                <h3>Add Ingredients</h3>
                <div class="add-ing">
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-add" />
                    <label>Beef Pattie ($4.00) </label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-add" />
                    <label>Chicken Pattie ($4.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-add" />
                    <label>Bacon ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-add" />
                    <label>Egg ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-add" />
                    <label>Onion ($1.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-add" />
                    <label>Tomato Sauce (Free)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-add" />
                    <label>Mustard (Free)</label>
                  </div>
                </div>
                <h3>Remove Ingredients</h3>
                <div class="remove-ing">
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-rem" />
                    <label>Beef Pattie</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-rem" />
                    <label>Tomato</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-rem" />
                    <label>Lettuce</label>
                  </div>
                  <div>
                    <input type="checkbox" class="bb-checkbox" name="bb-rem" />
                    <label>Cheese</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container last-one">
              <div class="image-container">
                <img
                  src="https://assets.grilld.com.au/images/News-Article-Imagery/2020/BeyondPlant-Based/_fit640/BEYOND_ARTICLE_IMAGE_1.jpg?mtime=20200227093004"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$6.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Veggie Burger</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button last-add">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-bb last-info">
              <h2 class="extra-info-heading"></h2>
              <div class="form-flex-bb">
                <h3>Add Ingredients</h3>
                <div class="add-ing">
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-add" />
                    <label>Beef Pattie ($4.00) </label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-add" />
                    <label>Chicken Pattie ($4.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-add" />
                    <label>Bacon ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-add" />
                    <label>Egg ($2.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-add" />
                    <label>Onion ($1.00)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-add" />
                    <label>Tomato Sauce (Free)</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-add" />
                    <label>Mustard (Free)</label>
                  </div>
                </div>
                <h3>Remove Ingredients</h3>
                <div class="remove-ing">
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-rem" />
                    <label>Veggie Pattie</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-rem" />
                    <label>Tomato</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-rem" />
                    <label>Lettuce</label>
                  </div>
                  <div>
                    <input type="checkbox" class="vb-checkbox" name="vb-rem" />
                    <label>Cheese</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm last-confirm">Confirm</button>
                </div>
              </div>
            </section>
          </section>
          <!-- BURGER SECTION -->
        </section>
        <!-- FOOD SECTION -->

        <!-- DRINK SECTION -->
        <section class="drink">
          <!-- COFFEE SECTION -->
          <section class="container">
            <h2>Coffee</h2>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://www.thespruceeats.com/thmb/BzOCAGJIHKcClNckVMXOsYoaT5A=/4413x2482/smart/filters:no_upscale()/how-to-make-cappuccinos-766116-hero-01-a754d567739b4ee0b209305138ecb996.jpg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$4.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Cappucino</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-coffee">
              <h2 class="extra-info-heading"></h2>
              <div>
                <h3>Milk Type</h3>
                <div class="form-flex-coffee">
                  <div>
                    <input
                      checked
                      type="radio"
                      class="cap-checkbox"
                      name="cap-milk"
                    />
                    <label>Full Milk </label>
                  </div>
                  <div>
                    <input type="radio" class="cap-checkbox" name="cap-milk" />
                    <label>Skim</label>
                  </div>
                  <div>
                    <input type="radio" class="cap-checkbox" name="cap-milk" />
                    <label>Soy</label>
                  </div>
                  <div>
                    <input type="radio" class="cap-checkbox" name="cap-milk" />
                    <label>Almond</label>
                  </div>
                  <div>
                    <input type="radio" class="cap-checkbox" name="cap-milk" />
                    <label>Oat</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img src="/images/Flat_white.jpg" />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$4.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Flat White</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-coffee">
              <h2 class="extra-info-heading"></h2>
              <div>
                <h3>Milk Type</h3>
                <div class="form-flex-coffee">
                  <div>
                    <input
                      checked
                      type="radio"
                      class="fw-checkbox"
                      name="fw-checkbox"
                    />
                    <label>Full Milk </label>
                  </div>
                  <div>
                    <input type="radio" class="fw-checkbox" name="fw-milk" />
                    <label>Skim</label>
                  </div>
                  <div>
                    <input type="radio" class="fw-checkbox" name="fw-milk" />
                    <label>Soy</label>
                  </div>
                  <div>
                    <input type="radio" class="fw-checkbox" name="fw-milk" />
                    <label>Almond</label>
                  </div>
                  <div>
                    <input type="radio" class="fw-checkbox" name="fw-milk" />
                    <label>Oat</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://www.starbucksathome.com/au/sites/default/files/2021-06/10032021_CafeMocha_CS-min.png"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$4.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Mocha</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-coffee">
              <h2 class="extra-info-heading"></h2>
              <div>
                <h3>Milk Type</h3>
                <div class="form-flex-coffee">
                  <div>
                    <input
                      checked
                      type="radio"
                      class="moc-checkbox"
                      name="moc-milk"
                    />
                    <label>Full Milk </label>
                  </div>
                  <div>
                    <input type="radio" class="moc-checkbox" name="moc-milk" />
                    <label>Skim</label>
                  </div>
                  <div>
                    <input type="radio" class="moc-checkbox" name="moc-milk" />
                    <label>Soy</label>
                  </div>
                  <div>
                    <input type="radio" class="moc-checkbox" name="moc-milk" />
                    <label>Almond</label>
                  </div>
                  <div>
                    <input type="radio" class="moc-checkbox" name="moc-milk" />
                    <label>Oat</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://assets.epicurious.com/photos/61eb09dfb37c8d2963dd7bde/1:1/w_2849,h_2849,c_limit/HotCocoaForOne_RECIPE_012022_086_VOG_final.jpg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$4.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Hot Chocolate</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-coffee">
              <h2 class="extra-info-heading"></h2>
              <div>
                <h3>Milk Type</h3>
                <div class="form-flex-coffee">
                  <div>
                    <input
                      checked
                      type="radio"
                      class="hc-checkbox"
                      name="hc-milk"
                    />
                    <label>Full Milk </label>
                  </div>
                  <div>
                    <input type="radio" class="hc-checkbox" name="hc-milk" />
                    <label>Skim</label>
                  </div>
                  <div>
                    <input type="radio" class="hc-checkbox" name="hc-milk" />
                    <label>Soy</label>
                  </div>
                  <div>
                    <input type="radio" class="hc-checkbox" name="hc-milk" />
                    <label>Almond</label>
                  </div>
                  <div>
                    <input type="radio" class="hc-checkbox" name="hc-milk" />
                    <label>Oat</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://www.insidetherustickitchen.com/wp-content/uploads/2018/07/Untitled-design.jpg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$5.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Affogato</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-coffee">
              <h2 class="extra-info-heading"></h2>
              <div>
                <h3>Milk Type</h3>
                <div class="form-flex-coffee">
                  <div>
                    <input
                      checked
                      type="radio"
                      class="aff-checkbox"
                      name="aff-milk"
                    />
                    <label>Full Milk </label>
                  </div>
                  <div>
                    <input type="radio" class="aff-checkbox" name="aff-milk" />
                    <label>Skim</label>
                  </div>
                  <div>
                    <input type="radio" class="aff-checkbox" name="aff-milk" />
                    <label>Soy</label>
                  </div>
                  <div>
                    <input type="radio" class="aff-checkbox" name="aff-milk" />
                    <label>Almond</label>
                  </div>
                  <div>
                    <input type="radio" class="aff-checkbox" name="aff-milk" />
                    <label>Oat</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://www.acouplecooks.com/wp-content/uploads/2020/10/how-to-make-a-macchiato-003s.jpg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$4.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Macchiato</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-coffee">
              <h2 class="extra-info-heading"></h2>
              <div>
                <h3>Milk Type</h3>
                <div class="form-flex-coffee">
                  <div>
                    <input
                      checked
                      type="radio"
                      class="mac-checkbox"
                      name="mac-milk"
                    />
                    <label>Full Milk </label>
                  </div>
                  <div>
                    <input type="radio" class="mac-checkbox" name="mac-milk" />
                    <label>Skim</label>
                  </div>
                  <div>
                    <input type="radio" class="mac-checkbox" name="mac-milk" />
                    <label>Soy</label>
                  </div>
                  <div>
                    <input type="radio" class="mac-checkbox" name="mac-milk" />
                    <label>Almond</label>
                  </div>
                  <div>
                    <input type="radio" class="mac-checkbox" name="mac-milk" />
                    <label>Oat</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://coffeeaffection.com/wp-content/uploads/2021/05/Spanish-latte-milk-and-espresso.jpg"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$4.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Latte</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="extra-info-coffee">
              <h2 class="extra-info-heading"></h2>
              <div>
                <h3>Milk Type</h3>
                <div class="form-flex-coffee">
                  <div>
                    <input
                      checked
                      type="radio"
                      class="lat-checkbox"
                      name="lat-milk"
                    />
                    <label>Full Milk </label>
                  </div>
                  <div>
                    <input type="radio" class="lat-checkbox" name="lat-milk" />
                    <label>Skim</label>
                  </div>
                  <div>
                    <input type="radio" class="lat-checkbox" name="lat-milk" />
                    <label>Soy</label>
                  </div>
                  <div>
                    <input type="radio" class="lat-checkbox" name="lat-milk" />
                    <label>Almond</label>
                  </div>
                  <div>
                    <input type="radio" class="lat-checkbox" name="lat-milk" />
                    <label>Oat</label>
                  </div>
                </div>
                <br />
                <h3>Additional Comments</h3>
                <textarea rows="6"></textarea>
                <div class="flex-confirm">
                  <button class="cancel">Cancel</button>
                  <button class="confirm">Confirm</button>
                </div>
              </div>
            </section>
          </section>
          <!-- COFFEE SECTION -->

          <!-- SOFT DRINK SECTION -->
          <section class="container">
            <h2>Soft Drinks</h2>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://cdn.productreview.com.au/resize/listing-picture/be9517eb-a8c2-398a-a065-b14b8b85c02a?width=1200&height=630&withoutEnlargement=true&v=2"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$2.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Coke Classic</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://cdn.shopify.com/s/files/1/0043/9258/3217/products/Coca-Coka-No-Sugar-can_de24556c-f324-4afa-b8d9-bf9cf7a1b463_2048x.png?v=1620308634"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$2.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Coke No Sugar</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="flex-container">
              <div class="image-container">
                <img
                  src="https://cdn.productreview.com.au/resize/listing-picture/2457406b-938e-391f-ae18-e6b59bebe402?width=1200&height=630&withoutEnlargement=true&v=2"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$2.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Sprite</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
            <section class="flex-container last-two">
              <div class="image-container">
                <img
                  src="https://cdn11.bigcommerce.com/s-21ntmrkfhf/images/stencil/1280x1280/products/13955/4181/Drink-Solo-24-X-375Ml-Cans-Schweppes__43374.1550883801.jpg?c=2"
                />
              </div>
              <div class="item-info-container">
                <div class="price-container">
                  <div class="price" style="font-weight: 800">$2.00</div>
                </div>
              </div>
              <div class="seperator-column">
                <div class="seperator-container">
                  <div class="seperator">|</div>
                </div>
              </div>
              <div class="final-section">
                <div class="item-name-container">
                  <div class="item-name">Solo</div>
                </div>
                <div class="quantity-counter">
                  <button class="decrement">-</button>
                  <div class="quantity">1</div>
                  <button class="increment">+</button>
                </div>
                <div class="button-container">
                  <button class="add-to-cart-button">Add</button>
                </div>
              </div>
            </section>
          </section>
          <!-- SOFT DRINK SECTION -->
        </section>
        <!-- DRINK SECTION -->
        <footer>
          <div class="running-container">
            <div class="running-quantity"></div>
            <div class="running-price"></div>
          </div>
          <button class="view-cart-button">View Cart</button>
        </footer>
      </section>
      <section class="shopping-cart">
        <button onclick="hideCart()" class="cart-back-button">
          <span class="chevron left"></span>
          <span>&nbsp;Order More Items</span>
        </button>
        <div class="total-price-container">
          Total Price: $<span class="total-price"></span>
        </div>
        <div class="purchase-button-container">
          <button>Confirm Payment</button>
        </div>
      </section>
    </main>
    <script src="/javascripts/home.js"></script>
  </body>
</html>
